<form method="post" action="{{ path('panier_delete', {'id': panier.id}) }}" onsubmit="return confirm('{{ 'Panier.Supprimer'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.id) }}">
    <button class="btn btn-danger">{{ 'Global.Supprimer'|trans }}</button>
</form>
